{% extends "appblog/base.html" %}
{% load static %}

{% block TitleBanner %}


<div class="banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'appblog/img/banner/b1.jpg' %}" alt="...">
                <div class="container">
                    <!-- banner caption -->
                    <div class="carousel-caption slide-one">
                        <!-- heading -->
                        <h3><i class="fa fa-terminal"></i>Crea tu Usuario: | ¿Ya tienes cuenta? Inicia sesión <a href="{% url 'login' %}"><i class="fa fa-toggle-up"></i></a></h3>

                        {% if errors %}
                            <p style="color: red">Errores en el inicio de sesion: {{errors}}</p>
                        {% endif %}

                        <form method="post" style="color: black">
                            
                            {% csrf_token %}
                            {{ form.as_p }}

                            <input type="submit" value="Sign Up" style="background-color:brown">
                        </form>							
                        <!-- button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}
