{% extends "appblog/base.html" %}
{% load static %}

{% block TitleBanner %}


<div class="banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'appblog/img/banner/b1.jpg' %}" alt="...">
                <div class="container">
                    <!-- banner caption -->
                    <div class="carousel-caption slide-one">
                        <!-- heading -->
                        <h3><i class="fa fa-terminal"></i>Tu sesión se ha cerrado.</h3>					
                        <!-- button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}
