{% extends "appblog/base.html" %}
{% load static %}


{% block TitleBanner %}
<div id="latestalbum" class="hero pad">
    <div class="container">
        <!-- hero content -->
        <div class="hero-content ">
            <!-- heading -->
            <h2>Crear/Actualizar Posts</h2>
            <hr>
            <!-- paragraph -->
            <p>Crea y actualiza tus posts.</p>
        </div>
        <br>
        <br>
        <!--formulario-->
        <h2>Realiza tus posts:</h2>
        <form method="post" enctype="multipart/form-data">

                {% csrf_token %}
                {{form.as_p}}
                <br>
                <input type="submit" value="Publicar">
        </form>
    </div>
</div>
<hr>

{% endblock %}
